<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta http-equiv="content-type" charset="utf-8">
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        title属性を設定しました(属性バインディング)
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">これが見える</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">逆順ボタン</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app-7">
      <ol>
         <!-- v-bind:todoで、Vue Componentのprops内のtodoオブジェクトにitemオブジェクトが渡る -->
        <todo-item
         v-for="item in groceryList"
         v-bind:key="item.id"
         v-bind:todo="item"
         >
        </todo-item>
      </ol>
    </div>

    <script src="index.js"></script>
  </body>
</html>
