<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta http-equiv="content-type" charset="utf-8">
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <span v-bind:title="message">
        title属性を設定しました(属性バインディング)
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">これが見える</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">逆順ボタン</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <div id="app-7">
      <ol>
         <!-- v-bind:todoで、Vue Componentのprops内のtodoオブジェクトにitemオブジェクトが渡る -->
        <todo-item
         v-for="item in groceryList"
         v-bind:key="item.id"
         v-bind:todo="item"
         >
        </todo-item>
      </ol>
    </div>

    <p>
    Vueのライフサイクルイベント
    <img src="https://jp.vuejs.org/images/lifecycle.png" />
    イベント内の処理のthisはVueインスタンスを指す。そのためアロー関数で定義するとthisが参照できない
    </p>

    <p>
    isButtonDisabledがfalseだとこのボタンは表示されない
    <button v-bind:disabled="isButtonDisabled">Button</button>
    </p>

    <p>
    href属性をurlの値にバインドする
    <a v-bind:href="url"></a>
    </p>

    <p>
    clickイベントが発生したらclicked関数を呼ぶ
    <a v-on:click="clicked"></a>
    </p>

    <p>
    イベント名を動的にする
    <a v-on:[eventName]="functionName"></a>
    </p>

    <p>
    v-bindの省略記法
    <a v-bind:href="url"></a>
    <a :href="url"></a>
    </p>

    <p>
    v-onの省略記法
    <a v-on:click="functionName"></a>
    <a @click="url"></a>
    </p>

    <script src="index.js"></script>
  </body>
</html>
